rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 1. Okuma İzni (Public): Tüm görseller herkes tarafından görülebilir
      allow read: if true;

      // 2. Yazma İzni (Güvenlikli):
      // Sadece sunucu tarafı (Admin SDK) üzerinden yükleme yapıldığı için 
      // istemci tarafı yazma istekleri tamamen engellenmiştir.
      allow write: if false; 
    }
  }
}
